table.table-items input {
  width: 90%;
  padding: 1px 5px;
  height: 40px;
  font-size: 12px;
  margin: 0;
  border: 0;
  text-align: center;
  border-bottom: 1px solid grey;
}
table.table-items input[type="checkbox"] {
  float: none;
  width: inherit;
}
table.table-items thead th,
table.table-items tr td {
  text-align: center;
}
table.table-items tbody > tr > td {
  vertical-align: middle;
}
table.table-items th.label-total {
  text-align: right;
}
table.table-items th.price-total {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
